.inquryList__personal {

    width: 340px;
    display: flex;
    justify-content: end
}



.inquryList__date {
    width: 340px;
    line-height: 41px;

    display: flex;
    justify-content: space-between;
}

.hr_2 {
    height: 1px;
    width: 340px;
    border: 0;

    margin-top: 20px;
    margin-left: 0%;
    margin-bottom: 0%;

    background-color: var(--accent-1);
}



.inquryList__list {
    display: flex;
    flex-direction: row;
    align-items: center;

    border-bottom: 1px solid var(--color-grey-5);

    height: 48px;
    width: 340px;

}

.inquryList__list-arrange {
    display: flex;
    flex-direction: column;
}

.inquryList__icon {
    width: 30px;
    height: 30px;

    border-radius: 50%;
    margin-right: 10px;

    object-fit: cover;

}



/*-- inqury-write,inqury-detail --*/

.inqury-detail__content-count,
.inqury-write__content-count {
    position: relative;
    right: 30px;
    bottom: 30px;
    display: flex;
    flex-direction: row-reverse;

    color: var(--black);
    font-size: 12px;
    pointer-events: none;
    /* 클릭을 방지하기 위해 추가 */

}

.inqury-detail__menuList,
.inqury-write__menuList {
    display: flex;
}

.inqury-detail__menu {
    position: absolute;
    margin-left: 195px;
}

.inqury-write__menu {
    position: absolute;
    margin-left: 270px;
}

/*--inqury-answer--*/

.inqury-answer__menu {
    position: absolute;
    margin-left: 270px;
}

.inqury-answer__answer {
    background-color: var(--black);
}

.mypage-wrap {
    margin: auto;
    width: 960px;
    height: auto;
    min-height: 100%;
    background-color: #F2F2F2;
}

.small-wrap {
    width: 353px;
    height: auto;

    margin-left: 314px;
    margin-right: 314px;
    margin-top: 96px;
    margin-bottom: 110px;
}