.mypage-wrap {
  margin: auto;
  width: 960px;
  height: auto;
  min-height: 100%;
  background-color: #F2F2F2;
}

.small-wrap {
  width: 353px;
  height: auto;

  margin-left: 314px;
  margin-right: 314px;
  margin-top: 96px;
  margin-bottom: 110px;
}