@font-face {
  font-family: dahlia-regular;
  /* src: url('/public/fonts/dahlia-regular.woff') format('woff'); */
  src: url('/fonts/dahlia-regular.woff') format('woff');
}

@font-face {
  font-family: dahlia-bold;
  src: url('/fonts/dahlia-bold.woff') format('woff');
}

/* @font-face {
  font-family: pretendard-regular;
  src: url('/fonts/Pretendard-Regular.woff') format('woff');
} */

@font-face {
  font-family: pretendard-medium;
  src: url('/fonts/Pretendard-Medium.woff') format('woff');
}

@font-face {
  font-family: pretendard-semibold;
  src: url('/fonts/Pretendard-SemiBold.woff') format('woff');
}

@font-face {
  font-family: pretendard-bold;
  src: url('/fonts/Pretendard-Bold.woff') format('woff');
}