.footer{
  background: linear-gradient(#EA3921 50%, #A48453);
  color: var(--black);
  font-family: "Pretendard-Regular", sans-serif;
  font-size: 12px;
  height: 140px;
  padding: 30px;
  box-sizing: border-box;
  width: 960px;
  margin: 0 auto;
}

.footer__content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.footer__left{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer__nav{
  display: flex;
  gap: 20px;
}

.footer__nav a{
  text-decoration: none;
  margin-right: 20px;
  color: var(--black);
}


.footer__right{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 34px;
}

.footer__logo{
  font-family: "Dahlia-Bold", sans-serif;
  font-size: 36px;
  height: 50px;
}

.footer__corp-area > span{
  margin-top: 10px;
}

.footer__rules{
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-top: 30px;
}

.footer__rule{
  color: var(--black);
}

.footer__rule:nth-of-type(2) {
  text-decoration: none;
}

.footer__corp-area{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer__corp-info{
  margin-top: 10px;
}