@font-face {
  font-family: 'Pretendard-Regular';
  src: url('/public/fonts/Pretendard-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard-SemiBold';
  src: url('/public/fonts/Pretendard-SemiBold.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard-Bold';
  src: url('/public/fonts/Pretendard-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard-ExtraBold';
  src: url('/public/fonts/Pretendard-ExtraBold.woff') format('woff');
}

@font-face {
  font-family: 'Dahlia-Regular';
  src: url('/public/fonts/dahlia-regular.woff') format('woff');
}

@font-face {
  font-family: 'Dahlia-Bold';
  src: url('/public/fonts/dahlia-bold.woff') format('woff');
}

:root{
  --background-1: #f2f2f2;
  --background-2: #e8e8e8;
  --accent-1: #ea3921;
  --black: #222222;
  --white: #ffffff;

  /* input background, 흰색 버튼 배경 */
  --color-grey-1: #f6f6f6;
  
  /* 진행중 badge background */
  --color-grey-2: #efefef;

  /* mypage unblock btn background */
  --color-grey-3: #d9d9d9;

  /* input border */
  --color-grey-4: #cfcfcf;

  /* pagination default background */
  --color-grey-5: #c1c1c1;

  /* input placeholder text */
  --color-grey-6: #bdbdbd;

  /* main grey font color */
  --color-grey-7: #858585;

  /* pagination hover background */
  --color-grey-8: #626262;

  /* dark-grey btn background */
  --color-grey-9: #666666;
  
  /* point colors */
  --color-point-1: #189024;
  --color-point-2: #2436DE;
  --color-point-3: #939185;
  --color-point-4: #454545;
  --color-point-5: #0c5fcd;

  /* border-radius */
  --radius-1: 6px;
  --radius-2: 8px;
  --radius-3: 10px;
  --radius-4: 12px;
  --radius-5: 15px;

  /* shadow */
  --shadow-1: 4px 4px 16px rgba(0, 0, 0, .05);
  --shadow-2: 4px 4px 16px rgba(0, 0, 0, .1);

  /* font-size */
  --font-size-1: 4px;
  --font-size-2: 6px;
  --font-size-3: 8px;
  --font-size-4: 11px;
  --font-size-5: 12px;
  --font-size-6: 14px;
  --font-size-7: 16px;
  --font-size-8: 18px;
  --font-size-9: 20px;
  --font-size-10: 22px;
  --font-size-11: 24px;
  --font-size-12: 26px;
  --font-size-13: 28px;
  --font-size-14: 30px;

  /* gap */
  --gap-1: 15px;
  --gap-2: 6px;
  --gap-3: 3px;

}

/* placeholder 스타일 */
input::placeholder,
input::-webkit-input-placeholder,
input:-ms-input-placeholder,
textarea::placeholder,
textarea::-webkit-input-placeholder,
textarea:-ms-input-placeholder {
  color: var(--color-grey-6);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Pretendard-Regular', sans-serif; */
}

body {
  color: var(--black);
  height: 120vh;
  /* background: var(--background-1); */
}

a {
  text-decoration: none;
  color: var(--black);
}

li {
  list-style: none;
}

::selection{
  background-color: var(--color-point-4);
  color: var(--white);
}
