.btn {
  height: 45px;
  width: 75px;
  border-radius: 10px;
  margin-left: 8px;
  border: 1px solid var(--accent-1);
  font-size: var(--font-size-6);
  color: var(--accent-1);
  font-weight: 500;
}

.long_btn {
  width: 340px;
  height: 45px;
  border-radius: var(--radius-3);
  border: 1px solid var(--accent-1);
  font-size: var(--font-size-7);
  color: var(--accent-1);
  font-weight: 500;
}

.grey-long_btn {
  width: 340px;
  height: 45px;
  border-radius: var(--radius-5);
  border: 1px solid var(--color-grey-4);
  font-size: var(--font-size-6);
  color: var(--color-grey-4);
  font-weight: 500;
}


.btn_nomargin {
  height: 45px;
  width: 80px;
  border-radius: var(--radius-5);
  border: 1px solid var(--accent-1);
}


.red_btn {
  background-color: var(--accent-1);
  color: var(--color-grey-1);
  font-size: var(--font-size-6);
  font-weight: 500;
}

.personal-inqury-btn {
  height: 21px;
  width: 71px;
  color: var(--black);
  font-size: 10px;
  border: 1px solid var(--accent-1);
  border-radius: var(--radius-5);
}

.small_btn_white {
  height: 45px;
  width: 75px;
  border: 1px solid var(--accent-1);
  color: var(--blcak);
  font-weight: 500;
  border-radius: var(--radius-5);
  background-color: var(--color-grey-1);
}

.small_btn_grey {
  height: 45px;
  width: 75px;
  border: 1px solid var(--color-grey-9);
  background-color: var(--color-grey-9);
  color: var(--color-grey-1);
  font-weight: 500;
  border-radius: var(--radius-5);

}

.unblock_btn {
  height: 26px;
  width: 80px;
  border: 1px solid var(--color-grey-4);
  background-color: var(--color-grey-4);
  color: var(--blcak);
  font-size: 13px;
  border-radius: var(--radius-2);
}

.small_btn_grey_click {
  height: 23px;
  width: 58px;
  background-color: var(--color-grey-5);
  border: 2px solid var(--color-grey-9);
  color: var(--black);
  border-radius: var(--radius-5);
  font-size: var(--font-size-6);
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
}

.small_btn_grey_unclick {
  height: 23px;
  width: 58px;
  background-color: var(--color-grey-2);
  border: 1.5px solid var(--color-grey-6);
  color: var(--color-grey-6);
  border-radius: var(--radius-5);
  font-weight: 500;
  font-size: var(--font-size-5);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 6px;
}

.form {
  border-radius: var(--radius-3);
  border: 1px solid var(--color-grey-4);
  text-indent: 10px;
  background-color: var(--color-grey-1);
  height: 45px;
  width: 353px;
}

.form:focus {
  outline: none;
  border: 1px solid var(--accent-1);
}

.short_form {
  border-radius: var(--radius-5);
  border: 1px solid var(--color-grey-4);
  text-indent: 10px;
  background-color: var(--color-grey-1);
  height: 45px;
  width: 270px;
  border-radius: var(--radius-3);
}

.middle_form {
  border-radius: var(--radius-3);
  border: 1px solid var(--color-grey-4);
  text-indent: 10px;
  background-color: var(--color-grey-1);
  height: 101px;
  width: 340px;
  padding-top: 10px
}

.mid_big_form {
  border-radius: var(--radius-3);
  border: 1px solid var(--color-grey-4);
  text-indent: 10px;
  background-color: var(--color-grey-1);
  height: 200px;
  width: 340px;
  padding-top: 10px
}

.big_form {
  border-radius: var(--radius-3);
  border: 1px solid var(--color-grey-4);
  text-indent: 10px;
  background-color: var(--color-grey-1);
  height: 374px;
  width: 340px;
  padding-top: 10px
}

.select_short {
  width: 154px;
  height: 45px;
  border-radius: var(--radius-5);
  border: 1px solid var(--color-grey-6);
  text-indent: 10px;
}

textarea:focus {
  outline: none;
  /* 포커스 시 외곽선(아웃라인) 제거 */
  /* 포커스 상태에서 보더 색을 변경하지 않음 */
}


/* 마이페이지 아이콘 비포 처리에 사용 */
.icon_b::before {
  content: "";
  width: 26px;
  height: 26px;
  background-repeat: no-repeat;
}

.icon_a::after {
  content: "";
  background-image: url('/public/imges/login/navericon.png');
  width: 26px;
  height: 26px;
  position: absolute;
  margin-left: 255px;
}