/*--텍스트--*/


input::placeholder,
textarea::placeholder {
  color: var(--color-grey-6);
  font-size: 13px;
}


.intro-title {
  font-size: var(--font--size-11);
  font-weight: bold;
}


.small_text {
  color: var(--color-point-4);
  font-size: var(--font--size-4);

}

.small_text_red {
  color: var(--accent-1);
  font-size: var(--font--size-4);
  margin-top: 0;
}

.small_text_green {
  color: var(--color-point-1);
  font-size: var(--font--size-4);
  margin-top: 0;
}

.agree_text_bold {
  color: var(--black);
  font-size: var(--font--size-5);
  font-weight: bold;
}

.agree_text {
  color: var(--black);
  font-size: var(--font--size-5);

}

.star_top::after {
  content: "*";
  color: var(--accent-1);
  position: relative;
  bottom: 4px;

}

.bold_blue_text {
  color: var(--color-point-2);
  font-weight: bold;
}

/* -------  */

input::placeholder {
  color: var(--color-grey-6);
  font-size: var(--font--size-5);
}




/*--*갭요소--*/

.gap-margin-bottom_1,
.gap-mb_1 {
  margin-bottom: 4px;
}

.gap-margin-bottom_2,
.gap-mb_2 {
  margin-bottom: 6px;
}

.gap-margin-bottom_3,
.gap-mb_3 {
  margin-bottom: 8px;
}

.gap-margin-bottom_4,
.gap-mb_4 {
  margin-bottom: 10px;
}

.gap-margin-bottom_5,
.gap-mb_5 {
  margin-bottom: 12px;
}

.gap-margin-bottom_6,
.gap-mb_6 {
  margin-bottom: 14px;
}

.gap-margin-bottom_7,
.gap-mb_7 {
  margin-bottom: 16px;
}

.gap-margin-bottom_8,
.gap-mb_8 {
  margin-bottom: 18px;
}

.gap-margin-bottom_9,
.gap-mb_9 {
  margin-bottom: 20px;
}








.gap-margin-top_1,
.gap-mt_1 {
  margin-top: 4px;
}

.gap-margin-top_2,
.gap-mt_2 {
  margin-top: 10px;
}

.gap-margin-top_3,
.gap-mt_3 {
  margin-top: 28px;
}

.gap-margin-top_3,
.gap-mt_4 {
  margin-top: 35px;
}

.gap-margin-top_3,
.gap-mt_5 {
  margin-top: 40px;
}


.gap-bmt_1 {
  margin-top: 200px;
}