main {
  padding: 0 !important;
}

.log-in__title {
	text-align: center;
}

.log-in__text {
	text-align: center;
  font-size: 13px;
  color: var(--color-grey-7);
	margin-top: 10px;
}

.log-in__form {
	margin-top: 26px;
	height: 190px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-content: space-around;
	justify-content: space-around;
}

.log-in__social {
	margin-top: 15px;
	display: flex;
	justify-content: center;
	justify-content: space-around;
}


.log-in__icons {
	width: 332px;
	display: flex;
	justify-content: center;
	justify-content: space-around;
}

.log-in__icon {
	width: 55px;
	height: 96px;
	text-align: center;
	font-size: var(--font-size-5);
}

/* login icons */
.log-in__kakao::before {
	content: "";
	background-image: url('/public/images/login/kakaoicon.png');
	background-size: 55px;
	display: inline-flex;
	width: 55px;
	height: 55px;
}

.log-in__naver::before {
	content: "";
	background-image: url('/public/images/login/navericon.png');
	background-size: 55px;
	display: inline-flex;
	width: 55px;
	height: 55px;
}

.log-in__google::before {
	content: "";
	background-image: url('/public/images/login/googleicon.png');
	background-size: 55px;
	display: inline-flex;
	width: 55px;
	height: 55px;
}

.log-in__search {
	display: flex;
	justify-content: space-around;
	border-top: solid 1px var(--color-grey-4);
	margin-right: auto;
	margin-left: auto;
	margin-top: 33px;
}

.log-in__search-form {
	margin-top: 25px;
	display: flex;
  gap: 20px;
}

.log-in__search-id,
.log-in__search-password {
	margin-right: 4px;
	margin-left: 4px;
	color: var(--color-grey-7);
	font-size: var(--font-size-6);
	text-decoration-line: underline;
}

.search-id__notfound,
.search-id__found {
	font-size: var(--font-size-6);
	text-align: center;
	margin-top: 50px;
}

.sign-in__terms {
	border-top: solid 1px var(--color-grey-6);
	margin-top: 23px;
}

/* 버튼 클릭 후 액티브 */
.sendBtnVisible.active,
.checkBtnVisible.active {
  background-color: var(--color-grey-3);
}

/* .login-in-wrap {
  margin: auto;
  width: 960px;
  height: auto;
  min-height: 100%;
  background-color: var(--background-1);
} */

.login-in-wrap {
  width: 100vw;
	min-height: 100vh;
	background-color: var(--white);
	display: flex;
	justify-content: center;
}

.login-in-inner {
  width: 960px;
  background-color: var(--background-1);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding-top: 96px; */
}

.small-wrap {
  width: 353px;
  height: auto;
  margin-bottom: 110px;
}

main {
  padding: 0;
}