.main-wrap {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.board {
  width: 95%;
  padding: 10px 0 0 300px;
}

.board .board__header {
  display: flex;
  margin: 20px 0 15px 5px;
}

.board .board__header h1 {
  font-size: 22px;
  font-weight: 600;
}

.board .board__header p {
  margin: 9px 0 0 8px;
  font-size: 14px;
}

/* 리스트 영역 */
.board__list {
  border-top: 2px solid var(--black);
}

.board__list .board__body {
  border-bottom: 1px solid var(--black);
}

.board__head {
  padding: 10px 0;
  border-bottom: 1px solid var(--black);
  font-weight: 600;
  pointer-events: none;
}

.board__head,
.board__body .board__content {
  font-size: 0;
  padding: 8px 0;
}

.board__head > div,
.board__body .board__content > div {
  display: inline-block;
  font-size: 14px;
  text-align: center;
}

.board__list .board__content {
  border-bottom: 1px solid var(--color-grey-3);
}

.board__list .board__no {
  width: 7%;
}

.board__list .board__title {
  width: 45%;
}

.board__list .board__title:hover {
  cursor: pointer;
  text-decoration: underline;
}

.board__list .board__writer {
  width: 10%;
}

.board__list .board__regDate {
  width: 10%;
}

.board__list .board__viewCnt {
  width: 7%;
}

.board__list .board__management {
  width: 21%;
}

.board__body .board__management .modBtn,
.board__body .board__management .delBtn {
  margin-right: 5px;
  background: var(--white);
  padding: 5px 12px;
  border: 1px solid var(--black);
  border-radius: 3px;
  cursor: pointer;
}

.board_body .board__management .delBtn {
  margin-right: 0;
}

.board__body .board__management .hiddenBtn,
.board__body .board__management .modifyBtn,
.board__body .board__management .deleteBtn {
  margin-right: 5px;
  background: var(--white);
  padding: 5px 12px;
  border: 1px solid var(--black);
  border-radius: 3px;
  cursor: pointer;
}

.board__body .board__management .hiddenBtn:hover,
.board__body .board__management .modifyBtn:hover,
.board__body .board__management .deleteBtn:hover {
  border: 1px solid var(--accent-1);
  color: var(--accent-1);
}

/* 비공개 상태 (기본 상태) */
.board__body .board__management .hiddenBtn {
  background-color: var(--white);
  color: var(--black);
}



/* 비공개 상태 게시물 스타일 */

.board__list .board__body .board__title {
  text-align: left;
}

/* REGISTRATION BUTTON */
.pagination-registration-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 10px 0;
  position: relative;
}

.pagination-registration-container .pagination-wrapper {
  flex-grow: 1;
  padding-right: 0;
}

.registration {
  margin-left: 20px;
  display: flex;
  align-items: center;
}

.registration button {
  background-color: var(--white);
  color: var(--black);
  height: 36px;
  padding: 0 20px;
  border-radius: var(--radius-2);
  border: 1px solid var(--color-grey-6);
  cursor: pointer;
}

.registration button:hover {
  background-color: var(--color-grey-8);
  color: var(--white);
}