.board {
  width: 95%;
  padding: 10px 0 0 300px;
}

.board .board__header { 
  display: flex;
  margin: 20px 0 15px 5px;
}

.board .board__header h1{
  font-size: 22px;
  font-weight: 600;
}

.board .board__header p {
  margin: 9px 0 0 8px;
  font-size: 12px;
}

.board__list {
  border-top: 2px solid var(--black);
}

.board__list .board__body {
  border-bottom: 1px solid var(--black);
}

.board__head {
  padding: 10px 0;
  border-bottom: 1px solid var(--black);
  font-weight: 600;

  > div {
    display: inline-block;
    font-size: 14px;
    text-align: center;
  }
}

.board__head,
.board__body .board__content {
  font-size: 0;
  padding: 8px 0;
  cursor: pointer;
}

.board__body .board__connDate {
  width: 12% !important;
  white-space: pre-line !important;
  text-align: center !important;
  word-break: keep-all !important;
  line-height: 1.2 !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.board__content:hover {
  background-color: #f9f9f9;
}

.board__body{
  .board__content {
    border-bottom: 1px solid var(--color-grey-3);
  
    > div {
      display: inline-block;
      font-size: 14px;
      text-align: center;
    }
    
    &:last-child {
      border-bottom: 1px solid var(--black);
      
    }
  }
} 

.board__list .board__no {
  width: 10%;
}

/* .board__list .board__type {
  width: 7%;
} */

.board__list .board__thumb {
  width: 15%;
}

.board__list .board__thumb img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  vertical-align: middle;
}

.board__list .board__id {
  width: 25%;
}

.board__list .board__nickname {
  width: 20%;
}

.board__list .board__joinDate {
  width: 10%;
}

/* .board__list .board__connDate {
  width: 18%;
} */

.board__list .board__status {
  width: 10%;
}

.board__list .board__management {
  width: 10%;
}

.board__body .board__management .delBtn {
  padding: 5px;
  border: 1px solid var(--black);
  border-radius: 3px;
  background: var(--white);
  cursor: pointer;
}

.board__body .board__management .delBtn:hover {
  border: 1px solid var(--accent-1);
  color: var(--accent-1);
}

/* PAGINATION */
.pagination {
  display: flex;
  padding: 25px;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  gap: 4px;
}

.pagination button {
  background: none;
  appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  border: none;
  cursor: pointer;
}

.pagination button i {
  color: var(--black);
  font-size: 18px;
}

.pagination .page-btn {
  background: var(--white);
  color: var(--black);
  height: 36px;
  border: 1px solid var(--color-grey-6);
  border-radius: var(--border-1);
  padding: 0 10px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  transition: background 0.3s ease;
}

.pagination .page-btn:not([class$="-page"]) {
  width: 36px;
}

.page-btn[class$="-page"] {
  background-color: var(--white);
  font-size: 10px;
  font-weight: 600;
}

.page-btn.active {
  background: var(--color-grey-8);
  color: var(--white);
}

.page-btn[disabled] {
  opacity: 0.3;
}

/* SEARCH BAR */
.search {
  display: flex;
  height: 100px;
  padding: 25px 0 80px 0;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  list-style-type: none;
  margin-left: 230px;
}

.search .search__bar {
  display: flex;
  align-items: center;
  min-width: 700px;
  border-radius: var(--border-2);
  border: 1px solid var(--color-grey-4);
  background-color: var(--white);
}

.search .search__bar .search__dropdown {
  position: relative;
  width: 170px;
  border-radius: var(--border-2);
  border-right: 1px solid var(--color-grey-4);
  background-color: var(--white);
  box-shadow: var(--shadow);
  cursor: pointer;
}

/* SEARCH BAR - 검색 카테고리 */
.search__text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 500;
  padding: 10px;
}

.search__text i {
  font-size: 18px;
}

.search__list {
  position: absolute;
  top: 46px;
  left: 0;
  width: 100%;
  border-radius: var(--border-2);
  max-height: 0;
  overflow: hidden;
  background-color: var(--white);
  transition: max-height .5s;
}

#drop-list.show {
  max-height: 300px;
}

.search__item {
  font-size: 14px;
  font-weight: 500;
  border-radius: var(--border-2);
  padding: 10px 0 10px 10px;
  transition: margin-left .3s ease, color .2s ease;
}

.search__item:hover {
  margin-left: 5px;
  color: var(--accent-1);
}

/* SEARCH BAR - 검색입력창 */
.search__box {
  display: flex;
  width: 100%;
  align-items: center;
  padding-right: 10px;
  color: var(--color-grey-6);

}

.search__box input {
  padding: 10px;
  width: 100%;
  font-size: 12px;
  font-weight: 500;
  border: 0;
  outline: 0;
}

.search__box i {
  font-size: 18px;
  cursor: pointer;
}

.search__box input::placeholder {
  font-size: 14px;
  font-weight: 500;
  color: var(--color-grey-6);
}

/* MODAL POPUP */
.modal-box {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .4);
  /* display: none; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-box.active { 
  display: flex;
}

.modal-box .modal-content {
  background: var(--white);
  width: 300px;
  padding: 20px;
  border-radius: 5px;
  position: relative;
}

.modal-box .modal-button button {
  width: 90px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid #ccc;
}


/* user detail info 아코디언 */
.board__list .board__body .board__user-details {
  margin-top: 8px;
  background-color: #f9f9f9;
  padding: 10px;
  /* border-radius: var(--border-1); */
  border: 1px solid var(--color-grey-4);
  display: none; 
  flex-direction: row; 
  width: 100%;
  box-sizing: border-box;
  transition: max-height .3s ease;
}

.board__user-detail-section-left,
.board__user-detail-section-right {
  padding: 10px;
  border-radius: 4px;
  height: 48%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.board__user-detail-section-left p,
.board__user-detail-section-right p {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 8px 10px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 100%;
}