.modal-check {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.2);
  /* display: none; */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .modal-check.active {
  display: flex;
} */


.modal-check__contents {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
  width: 350px;
  padding: 20px;
  text-align: center;
  position: relative;
}

.modal-check__title {
  font-size: 18px;
  margin-bottom: 20px;
}

.modal-check__text {
  font-size: 14px;
  line-height: 1.6;
  text-align: left;
  margin-left: 20px;
}

.modal-check__close {
  margin-top: 20px;
  border: 1px solid #666666;
  width: 214px;
  height: 49px;
  font-size: 14px;
  background-color: white;
  border-radius: 5px;
  cursor: pointer;
}

.modal-check__close:hover {
  background-color: #e0e0e0;
}