.feed {
  width: 492px;
  margin: 0 auto;
  margin-top: 43px;
}

/* 마이피드 전체 영역 조정 */
.my-feed__wrap {
  margin: 0 20px;
  margin-bottom: 50px;
}

/* 프로필 영역 위치 조정 */
.my-feed__user-profile {
  display: flex;
  margin-top: 40px;
}

/* 프로필 사진 사이즈 조정*/
.my-feed__user-image {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

/* 프로필 이름, 설명 위치 조정 및 상세 스타일 */
.my-feed__info {
  margin-left: 12px;
}

.my-feed__user-name {
  font-family: 'pretendard-semibold';
  display: block;
  margin-bottom: 5px;
}

.my-feed__description {
  font-family: 'pretendard-regular';
}

/* 프로필 버튼 위치 조정 및 상세 스타일*/
.my-feed__buttons {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  gap: 8px;
  /* position: relative; */
}

.my-feed__profile-edit {
  width: 90%;
  height: 26px;
  border-radius: 8px;
  text-align: center;
  font-family: 'pretendard-regular';
  align-content: center;
  background-color: #e6e6e6;
}

/* 드롭다운 메뉴 */

/* .dropdown {
  width: 10% !important;
} */

/* .dropdown-list {
  width: 100px;
  top: 22px;
} */

.my-feed__dropdown {
  position: relative;
}

.myfeed-dropdown-list {
  width: 110px;
  top: 35px;
  left: -30px;
}

.myfeed-dropdown-list>li {
  padding: 6px 0;
}

.myfeed-dropdown-list>li>a {
  font-size: 13px;
}


.my-feed__options {
  width: 50px;
  height: 26px;
  border-radius: 8px;
  border: none;
  background-color: #e6e6e6;
}

/* 피드 사진들 */
.my-feed__container {
  display: grid;
  /* 가로열 크기 지정 */
  grid-template-columns: repeat(3, 33.3%);
  grid-gap: 1px;
}

.my-feed__item img {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

/* 빈 피드 표시 */
.my-feed__empty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
}

/* 빈 피드 아이콘만들기 */
.my-feed__empty-icon {
  width: 72px;
  height: 70px;
  border-radius: 50%;
  border: 1px solid black;
  position: relative;
  margin-bottom: 20px;
}

.my-feed__icon-location {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* 중앙 정렬 */
  font-size: 30px;
}

.my-feed__empty span {
  font-family: 'pretendard-semibold';
  font-size: 26px;
}