#sidebar {
  position: fixed;
  max-width: 260px;
  width: 100%;
  background: var(--background-2);
  top: 0;
  left: 0;
  height: 100%;
  overflow-y: auto;
  scrollbar-width: none;
  transition: all .3s ease;
  overflow: hidden;
  border-right: 1px solid var(--black);
  /* padding: 3px 7px 0 7px;  */
  /* 로고 패딩값 */
}

#sidebar::-webkit-scrollbar {
  display: none;
}

#sidebar strong {
  font-family: 'Dahlia-Bold';
  font-size: 28px;
  margin-bottom: 4px;
  padding-right: 10px;
  color: var(--black);
}

#sidebar .logo {
  font-family: 'Pretendard-Regular', sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: var(--black);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 64px;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
  background: var(--background-2);
  transition: all .3s ease;
  padding: 0 10px;
  /* background: var(--accent-1); */
  border-bottom: 1px solid var(--black);
  /* border-radius: 20px; */
  /* margin-top: 5px; */
}

/* 사이드바 조절 */
#sidebar.hide .logo {
  justify-content: flex-start;
}

#sidebar .icon {
  display: flex;
  width: 48px;
  font-size: 17px; /* 16? */
  justify-content: center;
  align-items: center;
  margin-right: 6px;
}

#sidebar .icon-right {
  margin-left: auto;
  transform: all .3s ease;
  font-size: 14px;
}

#sidebar .sidebar__menu {
  /* margin: 21px 0; */
  margin: 18px 0;
  padding: 0 20px;
  transition: all .3s ease;
  /* margin-bottom: 150px; */
}

#sidebar.hide .sidebar__menu {
  padding: 0 6px;
}

#sidebar.hide:hover .sidebar__menu {
  padding: 0 20px;
}

#sidebar .sidebar__menu a {
  display: flex;
  align-items: center;
  font-size: 15px;
  color: var(--black);
  padding: 12px 16px 12px 0;
  transition: all .3s ease;
  border-radius: 10px;
  margin: 4px 0;
  white-space: nowrap;
  grid-gap: 6px;
}

#sidebar .sidebar__menu a:hover {
  background: var(--color-point-3);
  color: var(--white);
  /* border: 1px solid var(--black); */
  /* color: var(--color-point-3); */
}

/* 수정하기 active */
#sidebar .sidebar__menu li.active > a,
#sidebar .sidebar__menu li.active > RouterLink {
  background: var(--color-point-3);
  color: var(--white);
}

#sidebar .sidebar__menu li.active > a .icon-right {
  transform: rotateZ(90deg);
}


#sidebar .sidebar__menu-divider {
  margin-top: 24px;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
  color: var(--color-grey-6);
  transition: all .3s ease;
}

#sidebar.hide .sidebar__menu-divider {
  text-align: center;
}

/* 토글 오픈 메뉴 */
#sidebar .sidebar__menu-dropdown {
  padding-left: 48px;
  max-height: 0;
  overflow-y: hidden;
  transition: all .15s ease;
}

#sidebar .sidebar__menu-dropdown a:hover {
  margin-left: 5px;
  transition: margin-left .3s ease, color .2s ease;
  /* color: var(--color-point-3); */
}

#sidebar .sidebar__menu-dropdown.show {
	max-height: 1000px;
}

#sidebar .sidebar__menu-dropdown.show a {
  text-indent: 12px;
}

.sidebar__link {
  position: absolute;
  border-top: 1px solid var(--black);
  bottom: 50px; /* 하단에서 간격 설정 */
  left: 50%;
  transform: translateX(-50%); /* 중앙 정렬 */
  padding: 10px 40px; /* 버튼 스타일을 위해 추가적인 패딩 */
  border: 1px solid var(--black);
  color: var(--black);
  text-align: center;
  border-radius: var(--border-1);
  text-decoration: none;
}

.sidebar__link:hover {
  background: var(--color-point-4);
  color: var(--white);
}

/* MAIN CONTENT */
#content {
  position: relative;
  width: calc(100% - 260px);
  left: 260px;
}

.sidebar__profile {
  /* background-color: var(--color-point-4); */
  /* border-top: 1px solid var(--black); */
  width: 100%;
  height: 64px;
  padding: 0 20px 30px 20px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  grid-gap: 28px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.sidebar__profile .profile {
  background: var(--color-grey-2);
  border: 1px solid;
  padding: 10px;
  border-radius: var(--border-1);
  position: relative;
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  margin-right: 10px;
  cursor: pointer;
}

.sidebar__profile .profile img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}

.sidebar__profile .profile .profile__name {
  font-size: 16px;
  margin-left: 10px;
}


/* 내비 프로필 드롭다운 메뉴 */ 
.sidebar__profile .profile .profile__link {
  position: absolute;
  /* bottom: calc(100% + 1000px); */
  left: 20%;
  bottom: 100%;
  background: var(--white);
  padding: 10px 0;
  box-shadow: 4px 4px 16px rgba(0, 0, 0, .1);
  border-radius: var(--border-3);
  width: 140px;
  opacity: 0;
  pointer-events: none;
  transition: all .3s ease;
}

.sidebar__profile .profile .profile__link a:hover {
  color: var(--color-point-3);
  margin-left: 5px;
  transition: margin-left .3s ease, color .2s ease;
}

.sidebar__profile .profile .profile__link.show {
  opacity: 1;
  pointer-events: visible;
  bottom: 100%
}

.sidebar__profile .profile .profile__link a {
  padding: 10px 16px;
  display: flex;
  /* grid-gap: 10px; */
  gap: 10px;
  font-size: 14px;
  color: var(--black);
  align-items: center;
}