/* MAIN */
main {
  width: 100%;
  padding: 24px 20px 20px 20px;
}

main .content__title {
  font-size: 24px;
  font-weight: 600;
}

main .content__info-data {
  /* margin-top: 36px; */
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  grid-gap: 20px;
}

main .content__info-data .card {
  padding: 20px;
  border-radius: 10px;
  background: var(--white);
  box-shadow: var(--shadow-1);
}

main .card .card__head {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

main .card .card__head h2 {
  font-size: 24px;
  font-weight: 600;
}

main .card .card__head p {
  font-size: 16px;
}

main .card .card__head p:last-child {
  font-size: 12px;
}

main .card .card__head .icon {
  font-size: 20px;
  color: var(--color-point-5);
}

main .card .card__head .icon.down {
  color: var(--accent-1);
}

main .card .card__progress {
  display: block;
  margin-top: 24px;
  height: 10px;
  width: 100%;
  border-radius: 10px;
  background: var(--color-grey-4);
  overflow-y: hidden;
  position: relative;
  margin-bottom: 4px;
}

main .card .card__progress::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: var(--color-point-5);;
  width: var(--value);
}

main .card .label {
  font-size: 14px;
  font-weight: 600;
}

/* main datas ====================== */
main .data {
  display: flex;
  grid-gap: 20px;
  margin-top: 20px;
  flex-wrap: wrap;
}

/* content data 아래 */
main .data .content-data {
  flex-grow: 1;
  /* flex-basis: 400px; */
  flex-basis: 600px;
  padding: 20px;
  background: var(--white);
  border-radius: 10px;
  box-shadow: var(--shadow-2);
}

main .content-data .head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

main .content-data .head .h3 {
  font-size: 20px;
  font-weight: 600;
}

main .content-data .head .menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

main .content-data .head .menu .icon {
  cursor: pointer;
}

main .content-data .head .menu-link {
  position: absolute;
  top: calc(100% + 10px);
  right: 0;
  width: 140px;
  background: var(--white);
  border-radius: 10px;
  box-shadow: var(--shadow-2);
  padding: 10px 0;
  z-index: 100;
  opacity: 0;
  pointer-events: none;
  transition: all .3s ease;
}

main .content-data .head .menu-link.show {
  top: 100%;
  opacity: 1;
  pointer-events: visible;
}

main .content-data .head .menu-link a {
  display: block;
  padding: 10px 16px;
  font-size: 14px;
  color: var(--black);
  transition: all .3s ease;
}

main .content-data .head .menu-link a:hover {
  /* background: var(--background); */
  color: var(--color-grey-7);
  margin-left: 5px;
  transition: margin-left .3s ease, color .2s ease;
}

main .content-data .notice {
  width: 100%;
  max-height: 300px;
  overflow-y: auto;
}

main .content-data .notice table {
  width: 100%;
}

main .content-data .notice table > tbody > tr {
  text-align: center;
}

main .content-data .notice table > thead > tr > th {
  /* font-weight: 600; */
  border-bottom: 1px solid var(--color-grey-3);
  padding-bottom: 10px;
}

main .content-data .notice table > tbody > tr > td {
  padding-top: 8px;
}

.content-num {
  width: 10%;
}

.content-title {
  width: 60%;
  cursor: pointer;
}

.content-title:hover {
  text-decoration: underline;
}
.content-writer {
  width: 10%;
}

.content-date {
  width: 20%;
}