body {
  margin: 0;
  padding: 0;
  font-family: 'Pretendard-Medium', sans-serif;
}

.container {
  width: 960px;
  margin: 0 auto;
  padding: 20px 20px;
  box-sizing: border-box;
  background-color: var(--background-1);
}

/* General styles */
h2 {
  margin-bottom: 20px;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  padding: 0 20px;
}

/* main 사진 */
.photo-slider {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin-bottom: 30px;
}

.photo-slider__wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding: 0 30px;
  box-sizing: border-box;
}

.photo-slider::-webkit-scrollbar {
  display: none;
}

.photo-slider__container {
  display: flex;
  transition: transform 0.3s ease;
}

.photo-slider__container:active {
  cursor: grabbing;
}

.photo-slider__item {
  flex: 0 0 auto;
  width: 280px;
  height: 430px;
  margin-right: 12px;
  position: relative;
  overflow: hidden;
}

.photo-slider__item:last-child {
  margin-right: 0;
}

.photo-slider__image {
  width: 100%;
  height: 310px;
  object-fit: cover;
  border-radius: 15px;
  border: 1px solid var(--black);
  cursor: pointer;
}

.photo-slider__overlay {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 32%;
  background-color: rgba(217, 217, 217, 0.6);
  background: #f8f7f4;
  border-radius: 0 0 15px 15px;
  border: 1px solid var(--black);
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  overflow: hidden;
  transition: background-color 0.3s ease;
}

.photo-slider__overlay:hover {
  background: #e5e1da;
  cursor: pointer;
}

.overlay-footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.overlay-footer p {
  color: var(--black);
}

.overlay-content { /* 빼야함 */
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* 내부 텍스트를 상단 정렬 */
  align-items: flex-start;
  width: 100%;
  z-index: 1; /* 다른 요소와 겹치지 않게 */
}

.photo-slider__tags {
  display: flex;
  gap: 10px;
  z-index: 2;
  margin-bottom: 10px;
}

.photo-slider__tag {
  background-color: transparent;
  color: #fff;
  padding: 5px 10px;
  border-radius: 15px;
  font-size: 15px;
  border: 1px solid #fff;
}

.photo-slider__link {
  position: absolute;
  top: 15px;
  right: 20px;
  color: #fff;
  font-size: 20px;
  z-index: 2;
}

.photo-slider__info {
  z-index: 2;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.photo-slider__title {
  font-size: 23px;
  line-height: 1.2;
  font-family: 'Pretendard-Bold';
  white-space: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;
  color: var(--black);
  margin-bottom: 10px;
  padding: 0 !important;
}

.photo-slider__date,
.photo-slider__description {
  font-size: 14px;
  line-height: 1.4;
  margin: 5px 0;
  font-family: 'Pretendard-Medium';
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  color: #FCFFEB;
}

.photo-slider__date {
  min-height: 20px;
  margin-bottom: 10p
}

.photo-slider__description {
  min-height: 60px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* 화살표 */
.photo-slider__arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 50%;
  color: var(--white);
  padding: 10px;
  cursor: pointer;
  z-index: 10;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.photo-slider__arrow:hover {
  background: rgba(0, 0, 0, .8);
  box-shadow: 0 4px 10px rgba(0, 0, 0, .3);
}

.bx {
  font-size: 20px
}

.photo-slider__arrow--left {
  left: 10px;
}

.photo-slider__arrow--right {
  right: 10px;
}

/* 팝업 */
.card__title {
  font-family: 'pretendard-bold';
  font-size: 28px;
  padding: 0 !important;
  margin: 0 0 12px 10px;
}

.card__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 920px;
  gap: 15px;
  /* width: fit-content; */
  margin: 0 auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.card__link {
  position: absolute;
  inset: 0;
  z-index: 10;
}

.card__item {
  position: relative;
  height: 180px;
  border: 1px solid var(--color-grey-5);
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  justify-items: center;
  /* width: 440px; */
  width: 100%;
  transition: background 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
}

.card__item:hover {
  cursor: pointer;
  background: #f8f7f4;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.025);
  transform: translateY(-1px);
  z-index: 1;
}

.card__item img {
  width: 116px;
  height: 155px;
  object-fit: cover;
  margin: 10px;
}

.card__info {
  padding: 12px 10px 12px 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  box-sizing: border-box;
}

.card__status-tag {
  margin-bottom: 4px;
}

.card__status {
  font-family: 'pretendard-bold';
  font-size: 13px;
  padding: 4px 10px;
  border-radius: 8px;
  border: 1px solid var(--color-point-4);
  width: fit-content;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333;
}

.card__info-header h3 {
  font-size: 16px;
  line-height: 1.4;
  font-family: 'pretendard-bold';
  margin: 0;
  word-break: keep-all;
}

.card__info-footer {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.card__location {
  font-family: 'pretendard-medium';
  font-size: 14px;
  margin: 0;
  color: var(--color-grey-8);
  white-space: normal;
  overflow: hidden; 
  text-overflow: ellipsis;
}

.card__date-main {
  font-family: 'pretendard-medium';
  font-size: 13px;
  color: var(--color-grey-8);}

.card__location,
.card__date-main {
  font-size: 14px;
  font-weight: 600;
}

/* 스크롤바 */
.photo-slider__scrollbar {
  width: 100%;
  max-width: 960px;
  height: 6px;
  background-color: #e0e0e0;
  margin: 16px auto 0;
  position: relative;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.photo-slider__scrollbar-thumb {
  height: 100%;
  width: 10px;
  background-color: #888;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 5px;
  cursor: pointer;
  transition: left 0.3s ease;
  box-shadow: 0 0 3px rgba(0,0,0,0.3);}

/* 배너 */
.banner {
  width: 100%;
  max-width: 960px;
  margin: 38px auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.banner__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 100%;
}

.banner__item {
  width: 100%;
  height: 76px;
  border-radius: 15px;
  object-fit: cover;
}

/* 영상 */
.video {
  margin-top: 40px;
  width: 100%;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

.video__container {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding: 0 15px;
  box-sizing: border-box;
  margin-left: 18px;
  margin-bottom: 20px;
}

.video__slider {
  display: flex;
  transition: transform 0.5s ease;
  width: 100%;
}

.video__item {
  flex: 0 0 calc(33.333% - 10.67px);
  margin-right: 16px;
  box-sizing: border-box;
}

.video__item:last-child {
  margin-right: 0;
}

.video__item iframe {
  width: 100%;
  aspect-ratio: 16/9;
  border-radius: 15px;
}

.video__nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  font-size: 24px;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
}

.video__nav--left {
  left: 20px;
}

.video__nav--right {
  right: 20px;
}