.region_wrap {
  max-width: 960px;
  margin: 0 auto;
  padding: 0;
  font-family: 'Pretendard-Medium', sans-serif;
  box-sizing: border-box;
  background-color: #F2F2F2;
  position: relative; /* 추가 */
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
  background-color: #F2F2F2;
}

hr {
  width: 920px; /* box-container와 동일한 너비 */
  margin: 20px;
}

/* 지역별 사진 */
.region__container {
  display: flex;
  justify-content: center;
  width: 920px; /* 960px - (좌우 패딩 20px * 2) */
  margin: 20px 20px;
}

.region__box {
  width: 162px;
  height: 160px;
  border-radius: 15px;
  border: solid 1.5px #222222;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  transition: all 0.3s ease;
  position: relative;
  flex-shrink: 0;
  margin-right: 16px;
}

/* 마지막 박스의 오른쪽 마진 제거 */
.region__container .region__box:last-child {
  margin-right: 0;
}

.region__image-area {
  height: 120px; /* 75% of 160px */
  background-color: #ccc;
}

.region__image-area img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.region__text-area {
  height: 40px; /* 25% of 160px */
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #222222;
}

.region__text-area p {
  margin: 0;
  font-size: 20px; /* 폰트 크기 조정 */
  font-weight: bold;
  color: #000000;
  text-align: center;
  line-height: 1.2; /* 줄 간격 조정 */
}

/* 호버 효과 */
.region__box:hover {
  border-color: #FF0000; /* 빨간색 테두리 */
  box-shadow: 5px 5px 15px rgba(0, 0, 0, .349); /* 오른쪽과 아래에만 그림자 */
  transform: translate(-2px, -2px); /* 왼쪽으로 2px, 위로 2px 이동 */
}

/* 제목, 버튼 */
.section-title {
  margin-top: 20px; 
  margin-bottom: 20px;
  white-space: nowrap; /* 텍스트 줄바꿈 방지 */
  overflow: hidden; /* 넘치는 내용 숨김 */
  text-overflow: ellipsis; /* 넘치는 텍스트를 ...으로 표시 */
}

.section-title h2 {
  font-size: 26px;
  font-weight: bold;
  display: inline-block; /* 인라인 블록으로 설정 */
  max-width: 100%; /* 부모 요소 너비를 넘지 않도록 설정 */
}

.button-container {
  display: flex;
  gap: 11px;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.button-link {
  display: inline-block;
  padding: 8px 16px;
  background-color: #fff;
  color: #333;
  text-decoration: none;
  border: 1px solid #333; /* 기본 테두리 색상을 검정색으로 설정 */
  border-radius: 20px;
  font-family: 'pretendard-bold';
  font-size: 14px;
  white-space: nowrap;
  transition: all .3s ease;
  position: relative;
  top: 0;
  left: 0;
}

.button-link:hover {
  background-color: #EA3921; /* 호버 시 테두리 색상을 빨간색으로 변경 */
  color: #fff;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, .349); /* 오른쪽과 아래에만 그림자 */
  top: -2px; /* 위로 5px 이동 */
  left: -2px; /* 왼쪽으로 5px 이동 */
}

.slider {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.slider__container {
  display: flex;
  transition: transform .3s ease;
  margin-bottom: 30px;
}

.slider__overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
  border-radius: 15px;
  overflow: hidden;
}

.slider__overlay::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 33%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.329), rgba(0, 0, 0, 0));
  border-radius: 15px 15px 0 0;
  z-index: 1;
}

.slider__overlay::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 33%;
  background-color: rgba(255, 255, 255, .7);
  border-radius: 0 0 15px 15px;
}

.slider__tags {
  display: flex;
  gap: 10px;
  z-index: 2;
  margin-bottom: 10px;
}

.slider__tag {
  background-color: rgba(255, 255, 255, .8);
  color: #000;
  padding: 5px 10px;
  border-radius: 15px;
  font-size: 15px;
}

.slider__arrow-link {
  position: absolute;
  top: 15px;
  right: 20px;
  color: #fff;
  font-size: 20px;
  z-index: 2;
}

.slider__info {
  z-index: 3;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.slider__info h2 {
  font-size: 24px;
  line-height: 1.2;
  margin-bottom: 10px;
  font-family: 'Pretendard-Bold';
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.slider__date,
.slider__description {
  font-size: 14px;
  margin: 3px 0;
  font-family: 'Pretendard-Medium';
  line-height: 1.4;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}

.slider__date {
  height: 20%;
  min-height: 20px;
}

.slider__description {
  min-height: 30px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.slider__item {
  flex: 0 0 auto;
  width: 293px;
  height: 415px;
  margin-right: 16px;
  position: relative;
  overflow: hidden;
  border: solid 1.8px;
  border-radius: 15px;
}

.slider__item:last-child {
  margin-right: 0;
}

.slider__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.slider__arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
}

.slider__arrow--left {
  left: 10px;
}

.slider__arrow--right {
  right: 10px;
}

.slider__arrow.disabled {
  opacity: .5;
  cursor: not-allowed;
}

/* 팝업부분 */
/* Popup styles */
.popup {
  width: 960px;
  margin: 0 auto;
  box-sizing: border-box;
}

.popup h2 {
  width: 960px;
  padding-left: 30px;
  margin: 0 0 16px -20px;
  box-sizing: border-box;
}

.popup__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  width: 920px;
  box-sizing: border-box;
}

.popup__item {
  width: 100%;
  max-width: 470px;
  height: 180px;
  margin-bottom: 10px;
  border: 2px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  transition: all 0.3s ease;
  position: relative;
  top: 0;
  left: 0;
}

.popup__item:hover {
  border-color: #FF0000;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.349);
  top: -2px;
  left: -2px;
}

.popup__item img {
  width: 120px;
  height: 160px;
  object-fit: cover;
  margin: 10px;
}

.popup__info {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: calc(100% - 140px);
  position: relative;
}

.popup__status {
  width: 44px;
  height: 23px;
  border-radius: 15px;
  border: 1px solid #FF4E4E;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  color: #222222;
  background-color: transparent;
  font-size: 12px;
  font-family: 'Pretendard-Regular', sans-serif;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.popup__title {
  font-size: 16px;
  margin: 0 0 10px 0;
  max-height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.popup__info p {
  margin: 0;
  font-size: 14px;
}

.popup__location,
.popup__date {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.2;
  position: absolute;
  left: 10px;
}

.popup__location {
  bottom: 10px;
}

.popup__date {
  bottom: 30px;
}
